@model IEnumerable<SMS.Models.Service>

@{
    ViewData["Title"] = "searchservicedata";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-left:320px;">Searched Service Item</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Service Po No")
            </th>
            <th>
                @Html.DisplayName("Service Item")
            </th>
            <th>
                @Html.DisplayName("Service Quentity")
            </th>
            <th>
                @Html.DisplayName("Service Date")
            </th>
            <th>
                @Html.DisplayName("Costing Price")
            </th>
            <th>
                @Html.DisplayName("Vendor Name")
            </th>
            <th>
                @Html.DisplayName("Description")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.service_Po_no)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.service_item)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.service_qnty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.service_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.costing_price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.vendor_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>

            </tr>
        }
    </tbody>
</table>
@Html.ActionLink("View As PDF", "ServiceReport", "Report", htmlAttributes: new { @class = "btn btn-primary" })
