@model IEnumerable<SMS.Models.Delivery>

@{
    ViewData["Title"] = "ShowDelivary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="margin-left:320px;"> Searched Delivary From Database</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Delivery Date")
            </th>
            <th>
                @Html.DisplayName("Employee Name")
            </th>
            <th>
                @Html.DisplayName("Quantity")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.delivery_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.emp_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.qnty)
                </td>

            </tr>
        }
    </tbody>
</table>
@Html.ActionLink("View As PDF", "DelivaryReport", "Report", htmlAttributes: new { @class = "btn btn-primary" })

